<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Text-bin</title>

  <!-- CSS  -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="codemirror/lib/codemirror.css">
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>



</head>
<body>
  <nav class="light-red darken-5" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Text-bin</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">New Paste</a></li>
        <li><a href="#">Goto Paste</a></li>
        <li><a href="#">Previous Pastes</a></li>
        <li><a href="#">About</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">New Paste</a></li>
        <li><a href="#">Goto Paste</a></li>
        <li><a href="#">Previous Pastes</a></li>
        <li><a href="#">About</a></li>
      </ul>

      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="container">
        {{{body}}}   
  </div>  
<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Made with Node.js and Express</h5>
                <p class="grey-text text-lighten-4">And some help from CodeMirror editor.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © MIT
            <a class="grey-text text-lighten-4 right" href="#!">More Projects</a>
            </div>
          </div>
  </footer>

  <!--  Scripts-->


  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.min.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
