<div class="row">
    
    {{#if errors}}
    {{#each errors}}
    <div class="card-panel teal">
        <div class="col s12">
            <div class="white-text">{{this.msg}}</div>
        </div>
    </div>
    {{/each}}
    {{/if}}

    <form method="POST" class="col s12 z-depth-0" id="pasteform">

        <h4>Submit a Paste here</h4>

            <div class="row">
                <div class="col s12">
                    <i class="material-icons prefix">mode_edit</i>
                </div>
                <div class="col s12">
                    <textarea id="pasteinput" type="text" name="paste"></textarea>
                    {{!-- <label for="pastex">Paste here</label> --}}
                    {{!-- <span class="helper-text" data-error="wrong" data-success="right"></span> --}}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s9">
                    <h5>Enter a Title</h5>
                    <i class="material-icons prefix">collections_bookmark</i>
                    <input value="Untitled" id="titleinput" type="text" name="title">
                    {{!-- <label class="active" for="idinput">Enter title (optional)</label> --}}
                    {{!-- <span class="helper-text" data-error="wrong" data-success="right"></span> --}}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s9">
                    <h5>Enter an ID to be mapped to</h5>
                    <i class="material-icons prefix">account_circle</i>
                    <input value="#prefilledhash" id="idinput" type="text" name="idx" class="validate" required="" aria-required="true">
                    <!--label class="active" for="idinput">Enter your link</label-->
                    {{!-- <span class="helper-text" data-error="wrong" data-success="right"></span> --}}
                </div>
            </div>


            <!--div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">fingerprint</i>
                    <input type="checkbox" id="test5" />
                    <label for="test5">Private?</label>
                </div>
            </div-->


            <div class="row">
                <div class="col s6 offset-s6">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>  
    </form>
</div>


<script src="codemirror/lib/codemirror.js"></script>
<script src="codemirror/mode/javascript/javascript.js"></script>
<script src="codemirror/mode/python/python.js"></script>


<script>
    var minLines = 5;
    var startingValue = '';
    for (var i = 1; i < minLines; i++) {
        startingValue += '\n';
    }
    //console.log(Object.keys({{language}})[0])
    //console.log({{language}})
    var highlight = 'javascript'
    //console.log(highlight);
    var editor = CodeMirror.fromTextArea(document.getElementById("pasteinput"), {
        mode: highlight,
        lineNumbers: true,
        gutter: true,
        lineWrapping: true,
        viewportMargin: Infinity,
        value: startingValue
    });
    editor.setValue(startingValue);

</script>