<div class="div z-depth-0">
    <div class="row">
        <div class="col s12">

            <h3>{{paste.title}}</h3>
            <textarea id="result">{{paste.paste}}</textarea>
        </div>
        <div class="col s12">
            <h5>RAW Format</h5>
                <textarea class="paste">{{paste.paste}}</textarea>
        </div>
        <div class="col s12">
                <i class="material-icons prefix">date_range</i>
                <span><b>Posted on: </b>{{paste.date}}</span>
        </div>
    </div>
</div>


<script src="codemirror/lib/codemirror.js"></script>
<!--script src="codemirror/mode/javascript/javascript.js"></script-->
<script>
    var readOnlyCodeMirror = CodeMirror.fromTextArea(document.getElementById('result'), {
        mode: "javascript",
        theme: "default",
        lineNumbers: true,
        readOnly: true,
        gutter: true,
        lineWrapping: true
    });  
</script>