 @import url('https://fonts.googleapis.com/css?family=Lato');

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.brand-logo {
  color: black;
}

#pasteform {
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;

}

.paste {
  font-family: 'Lato', sans-serif;
  height: 200px;
}

.CodeMirror {
  height: auto;
  width: 100%;
}

.card-panel {
  display: flex;
}

.notfound {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notfound > i {
  font-size: 10rem;
}

.date {
  display: flex;
  font-size: 1.2rem;
}

.display > .col {
  padding-bottom: 20px;
}